<div class="container">
  <div class="user-details">
    <h3> Welcome </h3>
    <p>
      Thanks for visiting my website! I am currently a Software Engineer at <a href="https://www.retailmenot.com/">RetailMeNot</a>. I love programming in Typescript, Swift, and Python, and I have a few projects/experiences below with each of them (and then some), and also enjoy learning amount new trends and emerging technologies (like blockchain and SwiftUI). I have done a good bit of web development in Typescript/NodeJS, and I'm building a new iOS app using SwiftUI, along with a Serverless back-end using Python and AWS Lambda. Check out my Resume above, or some of my projects and work experience below!
    </p>
  </div>
</div>
