<div class="container">
  <div class="user-details">
    <h3> Welcome </h3>
    <p>
      Thanks for visiting my website! I am currently a Senior Software Engineer at <a href="https://www.circle.com/en/">Circle</a>, the developers and issuers of USDC, one of the worlds most popular stablecoins and cryptocurrencies. I love programming in Typescript, Python, and Java, and I have a few projects/experiences below with each of them (and then some), and also enjoy learning amount new trends and emerging technologies, like blockchain and SwiftUI. I am very experienced with many blockchain technologies from my time at Circle with EVM-compatible chains (including Solidity smart-contract development), Solana, and Flow. I have also done a good bit of web development in Typescript/NodeJS. Check out my Resume above, or some of my projects and work experience below!
    </p>
  </div>
</div>
