<!--
***********************************************************
*                                                         *
*              Created by Chase McDermott                 *
*              for CSCE 470 SEO contest - hw2             *
*                      tamu                               *
*                   chkstong yibbibi                      *
***********************************************************
 -->
<html>
    <head>
        {% seo title=false %}
        <title>Chkstong Yibbibi - Mobile App</title>
        <meta charset="utf-8">
        <meta name="msvalidate.01" content="F80B2FD5150AE1032ADE191A61DDE6B0" />
        <meta name="description" content="Chkstong Yibbibi - iOS and Android Mobile Application.">
        <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
        <meta charset="utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/main2.css" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body itemscope itemtype="http://schema.org/MobileApplication" class="is-preload">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Header -->
                    <header id="header" class="alt">
                        <span class="logo"><img src="assets/img/logo.svg" alt="chkstong yibbibi" /></span>
                        <h1 itemprop="name" >Chkstong Yibbibi</h1>
                        <p>iOS and Android app coming soon to a phone near you.</p>
                    </header>

                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="#intro" class="active">Introduction</a></li>
                            <li><a href="#first">The Company</a></li>
                            <li><a href="#second">Why Chkstong Yibbibi</a></li>
                            <li><a href="#cta">Get Started!</a></li>
                        </ul>
                    </nav>

                <!-- Main -->
                    <div id="main">

                        <!-- Introduction -->
                            <section id="intro" class="main">
                                <div class="spotlight">
                                    <div class="content">
                                        <header class="major">
                                            <h2>Intro</h2>
                                        </header>
                                        <p>Chkstong Yibbibi is a mobile application being released on Dec. 1, 2018. The application will help users in the Bryan-College Station, TX area find places to eat, watch sports, play sports, play video games, and many many more things! It may even use YelpMe! which is a web application being developed for CSCE 470 also which will complement Chkstong Yibbibi well. It complements chkstong yibbibi by recommending places to eat based on user's reviews, likes, interests, etc. rather than Yelps current methods of using location, reviews, ads, etc. We think it will be great alongside Chkstong Yibbibi for the people of the BCS area.</p>
                                        <p>Chkstong Yibbibi serves to help Texas A&M students and all people of the BCS area. We think it will be a great addition and people will reallu love it and be very interested. We can't wait for you to download and try out the app both on Google Play and the App Store. Please see more information about Chkstong Yibbibi below!</p>
                                        <ul class="actions">
                                            <li><a target="_blank" href="https://www.facebook.com" class="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                    <span class="image"><img src="assets/img/mountains.jpg" alt="chkstong-yibbibi" /></span>
                                </div>
                            </section>

                        <!-- First Section -->
                            <section id="first" class="main special">
                                <header class="major">
                                    <h2>The Company</h2>
                                </header>
                                <ul class="features">
                                    <li>
                                        <span class="icon major style1 fa-code"></span>
                                        <h3> </h3>
                                        <p>Chkstong Yibbibi is an application being developed by CSCE 470 at <a href="https://www.tamu.edu/">Texas A&M University</a>.</p>
                                    </li>
                                    <li>
                                        <span class="icon major style3 fa-copy"></span>
                                        <h3> </h3>
                                        <p>The company class is Information Storage and Retrieval, and we're really excited to get Chkstong Yibbibi released so Texas A&M students can use the application to find fun things to do in College Station, TX.</p>
                                    </li>
                                    <li>
                                        <span class="icon major style5 fa-diamond"></span>
                                        <h3> </h3>
                                        <p>The company is run by one man, by the name of Chkstong Yibbibi.</p>
                                    </li>
                                </ul>
                                <footer class="major">
                                    <ul class="actions special">
                                        <li><a target="_blank" href="https://twitter.com" class="button">Learn More</a></li>
                                    </ul>
                                </footer>
                            </section>

                        <!-- Second Section -->
                            <section id="second" class="main special">
                                <header class="major">
                                    <h2>Why Chkstong Yibbibi</h2>
                                    <p>Chkstong Yibbibi is intended for students of all ages at TAMU to talk to their friends, find things to do, play football with Jimbo Fisher, or even Myles Garrett!</p>
                                </header>
                                <ul class="statistics">
                                    <li class="style1">
                                        <span class="icon fa-code-fork"></span>
                                        <strong>59,120</strong> Lines of Code
                                    </li>
                                    <li class="style2">
                                        <span class="icon fa-folder-open-o"></span>
                                        <strong>8,192</strong> Beta Downloads
                                    </li>
                                    <li class="style3">
                                        <span class="icon fa-signal"></span>
                                        <strong>2,048</strong> Locations
                                    </li>
                                    <li class="style4">
                                        <span class="icon fa-laptop"></span>
                                        <strong>4,096</strong> Restaurants 
                                    </li>
                                    <li class="style5">
                                        <span class="icon fa-diamond"></span>
                                        <strong>1,024</strong> Sports
                                    </li>
                                </ul>
                                <footer class="major">
                                    <ul class="actions special">
                                        <li><a target="_blank" href="https://airbnb.com" class="button">Learn More</a></li>
                                    </ul>
                                </footer>
                            </section>

                        <!-- Get Started -->
                            <section id="cta" class="main special">
                                <header class="major">
                                    <h2>Get Started</h2>
                                    <p>Download the app soon on the Apple App Store and Google Play.</p>
                                </header>
                                <footer class="major">
                                    <ul class="actions special">
                                        <li><a target="_blank" href="https://www.apple.com/ios/app-store/" class="button primary">App Store</a></li>
                                        <li><a target="_blank" href="https://play.google.com/store?hl=en" class="button">Google Play</a></li>
                                    </ul>
                                </footer>
                            </section>

                    </div>

                <!-- Footer -->
                    <footer id="footer">
                        <section>
                            <h2>Disclaimer</h2>
                            <p>This is not a real app, but an attempt to get the term "chkstong yibbibi" indexed by google, and to get this page ranked first on Google or Bing for my Information Storage and Retrieval class at Texas A&M. We are trying really hard to get chkstong yibbibi and this page ranked high when searching for that term. Not when searching for Texas A&M or Texas A&M football or Jimbo Fisher or Myles Garret, but Chkstong Yibbibi.
                            </p>
                            <ul class="actions">
                                <li><a target="_blank" href="https://starwars.com" class="button">Learn More</a></li>
                            </ul>
                        </section>
                        <section>
                            <h2>Business Address</h2>
                            <dl class="alt">
                                <dt>Address</dt>
                                <dd>1234 Somewhere Road &bull; College Station, TX 77840 &bull; USA</dd>
                                <dt>Phone</dt>
                                <dd>(000) 000-0000 x 0000</dd>
                                <dt>Email</dt>
                                <dd><a href="#">information@untitled.tld</a></dd>
                            </dl>
                            <ul class="icons">
                                <li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
                            </ul>
                        </section>
                        <p class="copyright">&copy; Chkstong Yibbibi. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                    </footer>

            </div>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main2.js"></script>

    </body>
</html>