<div class="container">
    <div class="user-details">
      <h3> Job Experience </h3>
    </div>

    <div class="row user-projects">
        <div class="six columns images">
            <img alt="audible" src="/assets/img/audible.png" width="200" height="200" hspace="100"/>
        </div>
        <div class="six columns">
            <h5> Audible </h5>
            <ul>
                <li>Summer 2019</li>
                <li>Incoming Software Development Engineering Intern</li>
                <li>Digital Asset Management Team (ADAM)</li>
            </ul>
        </div>
    </div>

    <div class="row user-projects">
        <div class="six columns images">
            <img alt="jpmorgan" src="/assets/img/jpmorgan.png" width="200" height="200" hspace="100"/>
        </div>
        <div class="six columns">
            <h5> J.P. Morgan Chase & Co. </h5>
            <ul>
                <li>Summer 2018</li>
                <li>Software Engineering Intern</li>
                <li>Experience with Python and Flask.</li>
            </ul>
        </div>
    </div>

    <div class="row user-projects">
        <div class="six columns images">
            <img alt="tamu" src="/assets/img/tamu.png" width="200" height="200" hspace="100"/>
        </div>
        <div class="six columns">
            <h5> Texas A&M College of Engineering IT </h5>
            <ul>
                <li>May 2017 - Present</li>
                <li>Co-Lead Full-Stack Application Developer</li>
                <li>Ruby on Rails</li>
                <li>AWS - Elastic Beanstalk, EC2, S3, RDS, Lambda</li>
            </ul>
        </div>
    </div>


</div>