<div class="container">
  <div class="user-details">
    <h3> Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="schedule" src="/assets/img/bball.png" width="200" height="200" hspace="100" />
    </div>
    <div class="six columns">
      <h5> TopShotMatch </h5>
      <ul>
        <li>Feb. 2023 Flow Hackathon Winner (2 categories)</li>
        <li>SwiftUI (iOS app) & Cadence (Flow smart contract language)</li>
      </ul>
      <a class="project-link" href="https://github.com/chase1745/TopShotMatch"> Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="schedule" src="/assets/img/etheruem.png" width="200" height="200" hspace="100"/>
    </div>
    <div class="six columns">
      <h5> Open Source Contributions </h5>
      <ul> <li>C++</li> </ul>
      <p>Multiple contributions to Solidity, the smart contract programming language used to interact with the Ethereum blockchain. Solidity is Written in C++ and used by thousands of smart contract developers. Contributed Pull Request that made data locations for function parameters required. This was a breaking change for version 0.5. Added new tests and modified older tests to comply with new feature. Gained experience with a production level, large-scale C++ codebase, and extensive experience with Git and Github.</p>
      <a class="project-link" href="https://github.com/ethereum/solidity"> Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="schedule" src="/assets/img/flightready.jpg" width="200" height="200" hspace="100"/>
    </div>
    <div class="six columns">
      <h5> FlightReady </h5>
      <ul> <li>Ruby on Rails</li> </ul>
      <p>Created with a team of 4 at TAMUHack 2019. Mobile application to allow for a quick turnover in flight preparations for airline staff from landing to takeoff. I developed the back-end in Ruby on Rails and successfully deployed the application to Google Cloud using Google App Engine, along with designing the MySQL database and setting it up on Google Cloud SQL.</p>
      <a class="project-link" href="https://devpost.com/software/flightready"> Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="schedule" src="/assets/img/schedule-icon.png" width="200" height="200" hspace="100"/>
    </div>
    <div class="six columns">
      <h5> Course Planner </h5>
      <ul> <li>Written in Python using Flask</li> </ul>
      <p>Scheduling classes is a terrible proccess. You spend hours looking through different sections, times, and days, and you're expected to somehow come out with a class schedule. I developed a course scheduler, that outputs all possible schedules to the user based on the inputted courses and course sections.</p>
      <a class="project-link" href="http://chasemcd1745.pythonanywhere.com/"> Check it out</a>
    </div>
  </div>
</div>
