

<div class="container">
  <div class="user-details">
    <h3> Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="schedule" src="{{ "/assets/schedule-icon.png"}}" width="200" height="200" hspace="100"/>
    </div>
    <div class="six columns">
      <h5> Schedule Builder </h5>
      <li> Written in C++ </li>
      <p>Scheduling classes is a terrible proccess. You spend hours looking through different sections, times, and days, and you're expected to somehow come out with a class schedule. I am currently working on an automatic class scheduler, that will output all possible schedules to the user based on the inputted classes and class sections.</p>
      <a class="project-link" href="https://github.com/chase1745/chase1745.github.io"> Check it out</a>
    </div>
  </div>
  <!--<div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>-->
  </div>
</div>

